<div class="container-form">
  <div class="card login-card">
    <div class="card-body">
      <h2 class="text-center card-title">Bem Vindo!</h2>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="row">
          <div class="col-md-12">
            <div class="form-inputs">
              <%= f.input :email, required: true, autofocus: true, input_html: {class: "form-control", autocomplete: "email"} %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-inputs">
              <%= f.input :password, required: true, input_html: {class: "form-control"}, label: "Senha" %>
            </div>
            <div class="col-md-12 text-right">
              <%= link_to "Esqueceu sua senha?", new_password_path(resource_name), class: "small_text" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-actions text-center">
              <%= submit_button("blue", "fas fa-sign-in-alt", "Entrar") %>
            </div>
            <div class="col-md-12 text-center">
              <p style="margin-top: 10px;">Ainda não tem uma conta?</p>
              <%= link_to "Criar conta", new_registration_path(resource_name), class: "sign_up_text" %>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>