<ul class="nav justify-content-center" style="margin-bottom: 20px;">
  <li class="nav-item">
    <a class="nav-link" href="/">Desaparecidos</a>
  </li>
  <% unless user_signed_in? %>
    <li class="nav-item">
      <a class="nav-link" href="/users/sign_in">Entrar</a>
    </li>
  <% else %>
    <li class="nav-item">
      <a class="nav-link" href="/disappeareds/new">Novo Desaparecido</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users/sign_out" data-method="delete">Sair</a>
    </li>
  <% end %>
</ul>
