<div class="container">
  <div class="card card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center" style="margin-left: 50px;">
          <input type="text" placeholder="Pesquise Aqui" class="form-control" id="input_search" onkeyup="dynamicSearch()">
        </div>
      </div>
    </div>

    <div class="row" id="cards_mother">
      <% @disappeareds.each do |disappeared| %>
        <div class="col-md-3 my_card">
          <div class="card">
            <% if disappeared.avatar.attached? %>
              <%= image_tag disappeared.avatar, class: "card-img-top", size: "190x220" %>
            <% else %>
              <%= image_tag "matthew", class: "card-img-top", size: "190x220" %>
            <% end %>
            <div class="card-body">
              <% if user_signed_in? %>
                <button type="button" class="btn btn-primary show_modals" id="show_disappeared_button" data-toggle="modal" data-target="#show_disappeared_modal" value="<%= disappeared.id %>">
                  <span><i class="fas fa-eye"></i></span>
                </button>
              <% end %>
              <div class="col-md-9">
                <h3 class="card-title"><%= disappeared.name %></h3>
              </div>
            </div>
            <div class="card-footer text-muted">
              <div class="col-md-12 text-center" style="margin-bottom: -5px;">
                <span class="footer_card">
                  <i class="fas fa-map-marker-alt"></i>
                  <%= disappeared.street %>
                </span>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "show_disappeared_modal" %>