<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @historic.description %>
</p>

<p>
  <strong>Text:</strong>
  <%= @historic.text %>
</p>

<p>
  <strong>Disappeared:</strong>
  <%= @historic.disappeared %>
</p>

<%= link_to 'Edit', edit_historic_path(@historic) %> |
<%= link_to 'Back', historics_path %>
