<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <%= simple_form_for(@disappeared) do |f| %>

            <div class="row">
              <div class="col-md-12 text-center">
                <%= f.file_field :avatar, required: true %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-inputs">
                  <%= f.input :name, input_html: {class: "form-control"}, label: "Nome" %>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-inputs">
                  <%= f.input :gender, as: :select, collection: [["0", "Mulher"], ["1", "Homem"]], value_method: :first, label_method: :second, prompt: "Selecione", input_html: {class: "form-control"}, label: "Genero" %>
                </div>
              </div>
              <div class="col-md-3">
                <%= f.input :birthdate, input_html: {class: "form-control datepicker date", type: "text"}, label: "Data de Nascimento" %>
              </div>
              <div class="col-md-3">
                <%= f.input :disappearance_date, input_html: {class: "form-control datepicker date", type: "text"}, label: "Data do Desaparecimento" %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <%= f.input :mother, input_html: {class: "form-control"}, label: "Mãe" %>
              </div>
              <div class="col-md-6">
                <%= f.input :dad, input_html: {class: "form-control"}, label: "Pai" %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="form-inputs">
                  <label for="disappeared_cep">Cep</label>
                  <input type="text" class="form-control cep" id="disappeared_cep" onkeyup="FindCEP(this.value)" required>
                </div>
              </div>
            </div>
            <div id="result_cep" class="row"></div>

            <div class='row'>
              <div class='col-md-12'>
                <div class='form-actions text-right'>
                  <%= submit_button("success", "fas fa-save", "Salvar") %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
