<p id="notice"><%= notice %></p>

<h1>Disappeareds</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Birthdate</th>
      <th>Disappearance date</th>
      <th>Street</th>
      <th>Mother</th>
      <th>Dad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @disappeareds.each do |disappeared| %>
      <tr>
        <td><%= disappeared.user %></td>
        <td><%= disappeared.name %></td>
        <td><%= disappeared.gender %></td>
        <td><%= disappeared.birthdate %></td>
        <td><%= disappeared.disappearance_date %></td>
        <td><%= disappeared.street %></td>
        <td><%= disappeared.mother %></td>
        <td><%= disappeared.dad %></td>
        <td><%= link_to 'Show', disappeared %></td>
        <td><%= link_to 'Edit', edit_disappeared_path(disappeared) %></td>
        <td><%= link_to 'Destroy', disappeared, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Disappeared', new_disappeared_path %>
