<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @disappeared.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @disappeared.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @disappeared.gender %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @disappeared.birthdate %>
</p>

<p>
  <strong>Disappearance date:</strong>
  <%= @disappeared.disappearance_date %>
</p>

<p>
  <strong>Street:</strong>
  <%= @disappeared.street %>
</p>

<p>
  <strong>Mother:</strong>
  <%= @disappeared.mother %>
</p>

<p>
  <strong>Dad:</strong>
  <%= @disappeared.dad %>
</p>

<%= link_to 'Edit', edit_disappeared_path(@disappeared) %> |
<%= link_to 'Back', disappeareds_path %>
