<div class="container-form">
  <div class="card login-card">
    <div class="card-body">
      <h2 class="card-title">Esqueceu sua senha?</h2>

      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f| %>

        <div class="row">
          <div class="col-md-12">
            <div class="form-inputs">
              <%= f.input :email, required: true, autofocus: true, input_html: {class: "form-control"}, label: "Digite seu email" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-actions text-center">
              <%= submit_button("blue", "fas fa-envelope", "Enviar Instruções") %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>