/*
 *= require_self
 */

body {
  background-color: #f8f9fa !important
}

.card {
  border: 1px solid #ccc !important;
}

.nav .nav-item a {
  font-weight: 800;
}

.error {
  font-size: 12px;
  text-decoration: underline;
  font-weight: 800;
  color: red;
}

.row {
  margin-top: 10px;
}
