.footer_card {
  font-size: 13px;
}

.card-text {
  font-size: 15px;
}

.card-title {
  font-weight: 800;
}

#input_search {
  width: 90%;
  padding: 1rem;
  margin-bottom: 2rem;
  border: 1px solid #CCC;
  text-align: center;
  font-size: 1.5rem;
  height: 45px;
}

#input_search:focus{
  outline: none !important;
  box-shadow: 0 0 0 0 transparent;
}

@media only screen and (max-width: 1200px) {
  #show_disappeared_button {
    position: absolute;
    left: 140px;
  }
}


@media only screen and (max-width: 900px) {
  #show_disappeared_button {
    position: relative;
    margin-left: -110px;
  }
}

@media only screen and (min-width: 1200px) {
  #show_disappeared_button {
    position: absolute;
    left: 190px;
  }
}