.container-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-card {
  width: 360px;
  height: 280px;
  border-radius: 10px;
}

.btn-blue {
  background-color: #03A9F4;
  border-color: #03A9F4;
  color: #fff;
  width: 90%
}