.container-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-card {
  width: 350px;
  height: 410px;
  border-radius: 10px;
}

.btn-green {
  background-color: #009688;
  border-color: #009688;
  color: #fff;
  width: 90%
}