.container-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-blue {
  background-color: #03A9F4;
  border-color: #03A9F4;
  color: #fff;
  width: 90%
}

.login-card {
  width: 350px;
  height: 350px;
  border-radius: 10px;
}


.small_text {
  font-size: 12px;
  text-decoration: underline;
}

.sign_up_text {
  position: absolute;
  right: 110px;
  bottom: -20px;
}