<!DOCTYPE html>
<html>
  <head>
    <title>Desaparecidos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "//stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag "//use.fontawesome.com/releases/v5.6.3/css/all.css", "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css", "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag params[:controller], "data-turbolinks-track": "reload" %>


    <%= javascript_include_tag "//code.jquery.com/jquery-3.1.1.min.js", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.js", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "//stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.pt-BR.min.js", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag params[:controller], "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <%= render "shared/top_bar" %>
    <%= yield %>
  </body>
</html>
