<div class="container-form">
  <div class="card login-card">
    <div class="card-body">
      <h2 class="text-center">Cadastre-se</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <div class="row">
          <div class="col-md-12">
            <div class="form-inputs">
              <%= f.input :email, required: true, autofocus: true, input_html: {class: "form-control"} %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-inputs">
              <%= f.input :password, required: true, input_html: {class: "form-control"}, label: "Senha" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-inputs">
              <%= f.input :password_confirmation, required: true, input_html: {class: "form-control"}, label: "Confirme sua senha", error: "As senhas não são iguais" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 text-center">
            <div class="form-actions">
              <%= submit_button("green", "fas fa-user-plus", "Cadastrar") %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>